<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookingSystem</title>
    <script type="importmap"></script>
    <link asp-href="~/lib/tailwind.css" rel="stylesheet" />
</head>
<body>
    <header>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Form" asp-action="Index">Add Location</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="bg-blue-500 p-4 text-white font-bold">
            &copy; 2025 - Booking System - By Martin Matin & Hugo l'escargot
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
