@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="text-md font-bold transition duration-200 hover:scale-105 mr-6 mb-2">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Check account @User.Identity?.Name !</a>
    </li>
        <li class="text-md font-bold transition duration-200 hover:scale-105 mr-6 mb-2">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit">Logout</button>
        </form>
    </li>
}
else
{
        <li class="text-md font-bold transition duration-200 hover:scale-105 mr-6 mb-2">
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
        <li class="text-md font-bold transition duration-200 hover:scale-105 mr-6 mb-2">
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
