@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="p-12 flex justify-center">
        @await Html.PartialAsync("_ManageMenu")
    </div>

    <div>
        @RenderBody()
    </div>
</div>

@RenderSection("Scripts", required: false)
