@{
}

<div class="w-64 bg-green-400 rounded-r-full p-12 text-white">
    <ul class="flex flex-col space-y-3 text-lg">
        <li>
            <a asp-page="./ChangePassword" class="hover:underline hover:scale-105 transition">Change the password</a>
        </li>
        <li>
            <a asp-page="./Email" class="hover:underline hover:scale-105 transition">Modify your email</a>
        </li>
        <li
            <a asp-page="./PersonalData" class="hover:underline hover:scale-105 transition">See the personnal data</a>
        </li>
        <li>
            <a asp-page="./DeletePersonalData" class="hover:underline hover:scale-105 transition">Delete the account</a>
        </li>
        <li
            <a asp-page="./TwoFactorAuthentication" class="hover:underline hover:scale-105 transition">Two factors authentification</a>
        </li>
    </ul>
</div>
