@{
}

<div class="w-3/4 mx-auto bg-green-400 rounded-full p-12 mb-8">
    <ul class="flex justify-center text-lg space-x-8">
        <li class="px-4 py-2 hover:scale-105 transition duration-200 ">
            <a asp-page="./ChangePassword" class="px-4 py-2 inline-block">Change the password</a>
        </li>
        <li class="px-4 py-2 hover:scale-105 transition duration-200">
            <a asp-page="./Email" class="px-4 py-2 inline-block">Modify your email</a>
        </li>
        <li class="px-4 py-2 hover:scale-105 transition duration-200">
            <a asp-page="./DeletePersonalData" class="px-4 py-2 inline-block">Delete the account</a>
        </li>
        @* <li class="px-4 py-2 hover:scale-105 transition duration-200">
            <a asp-page="./TwoFactorAuthentication" class="px-4 py-2 inline-block">Two factors authentication</a>
        </li> *@
    </ul>
</div>
