<h1>Book your dream  </h1>

@model IEnumerable<BookingSystem.Models.Properties>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Place</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var property in Model)
            {
                <tr>
                    <td>@property.Title</td>
                    <td>@property.Country, @property.Town</td>
                    <td>@property.Price € / jour</td>
                </tr>
            }
        </tbody>
    </table>
